body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.flex-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.chars {
    height: 200px;
    width: 22%;
    font-size: 40px;
}

#a {
    color: red;
}

#f {
    font-style: italic;
    color: maroon;
}

#b {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
}