body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.flex-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.chars {
    height: 200px;
    width: 22%;
    font-size: 40px;
}

#a {
    color: red;
}

#f {
    font-style: italic;
    color: maroon;
}
#l{ 
    color:deeppink;
    font-family: "Lucida Console", Courier, monospace;
}
#img{
    height: 100%;
    width: 50%;
    opacity: 0;
}
#LL:hover #img{
    opacity: 1;
}
#LL:hover #l{
    display: none;
}